#############################
# Java Build Artifacts
#############################

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven build directory
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/


#############################
# Logs
#############################

*.log


#############################
# IDE Settings
#############################

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/


#############################
# Miscellaneous
#############################

# macOS
.DS_Store

# BlueJ
*.ctxt
